<div class="container">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col-lg-4">
          <h1><%= @cocktail.name %></h1>
          <ul>
            <% @cocktail.doses.each do |dose| %>
            <li><%= dose.description %> of <%= dose.ingredient.name %> <%= link_to "remove a dose", dose_path(dose), method: 'delete', data: { confirm: 'Are you sure? Really?' }  %></li>
            <% end %>
          </ul>
          <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-primary' %>
          <%= @cocktail.photo.attached? ? (cl_image_tag @cocktail.photo.key, height: 300, width: 300, crop: :fill) : image_tag('cocktail.jpg', height: 300) %>
        </div>
      </div>
    </div>
  </div>
</div>





